modules/unsupported/community-schemas/community-schema-ds/src/test/resources/test-data/SampleSite.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:aw="http://brs.gov.au/awdip/0.2"
  xmlns:cv="http://www.opengis.net/cv/0.0" xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
  xmlns:sa="http://www.opengis.net/sampling/0.0" elementFormDefault="qualified"
  targetNamespace="http://brs.gov.au/awdip/0.2" version="1.0">
  
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
  <import namespace="http://www.opengis.net/sampling/0.0" schemaLocation="commonSchemas/sampling/1.0.30/sampling.xsd" />
  <import namespace="http://www.opengis.net/om" schemaLocation="commonSchemas/om/1.0.30/om.xsd" />
  <import namespace="http://www.opengis.net/cv/0.0" schemaLocation="commonSchemas/cv/0.0.0/cv.xsd" />
  <!--XML Schema document created by ShapeChange-->
  <element name="SiteSinglePhenomTimeSeries" substitutionGroup="aw:SamplingSite"
    type="aw:SiteSinglePhenomTimeSeriesType" />
  <complexType name="SiteSinglePhenomTimeSeriesType">
    <annotation>
      <documentation>
        A view of the sampling feature with some subset of the constrained observations, where the result set is a trend
        over the sampled time envelope.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="aw:SamplingSiteType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedObservation"
            type="aw:PhenomenonTimeSeriesPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SiteSinglePhenomTimeSeriesPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:SiteSinglePhenomTimeSeries" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="WaterSample" substitutionGroup="gml:_Feature" type="aw:WaterSampleType" />
  <complexType name="WaterSampleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="lowerDepth" type="gml:DirectPositionType" />
          <element name="upperDepth" type="gml:DirectPositionType" />
          <element minOccurs="0" name="siteType" type="aw:NRSamplingTypeCodeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterSamplePropertyType">
    <sequence minOccurs="0">
      <element ref="aw:WaterSample" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element abstract="true" name="SamplingSite" substitutionGroup="sa:SamplingPoint" type="aw:SamplingSiteType" />
  <complexType abstract="true" name="SamplingSiteType">
    <annotation>
      <documentation>
        SamplingSite implements a characterisation of the Feature of Interest, through a set of observations. The key
        implication is that the location of the site and the observation procedures provides for a representative sample
        of the actual feature, within the scope of the sampling regime (e.g. a time period)
      </documentation>
    </annotation>
    <complexContent>
      <extension base="sa:SamplingPointType">
        <sequence>
          <element name="samplingRegimeType" type="aw:NRSamplingTypeCodeType" />
          <element name="waterBodyType" type="gml:CodeType" />
          <element minOccurs="0" name="accessTypeCode" type="gml:CodeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SamplingSitePropertyType">
    <sequence minOccurs="0">
      <element ref="aw:SamplingSite" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="SiteLocation" substitutionGroup="aw:SamplingSite" type="aw:SiteLocationType" />
  <complexType name="SiteLocationType">
    <annotation>
      <documentation>
        This is a view of the sampling feature that contains no observations, and can be used simply to map the spatial
        location, access identify and metadata etc.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="aw:SamplingSiteType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SiteLocationPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:SiteLocation" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="WaterObservation" substitutionGroup="om:TimeSeriesObs" type="aw:WaterObservationType" />
  <complexType name="WaterObservationType">
    <complexContent>
      <extension base="om:TimeSeriesObsType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterObservationPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:WaterObservation" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="ESCAWRI_Procedures" substitutionGroup="gml:_GML" type="aw:ESCAWRI_ProceduresType" />
  <complexType name="ESCAWRI_ProceduresType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ESCAWRI_ProceduresPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:ESCAWRI_Procedures" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="ESCAWRI_Phenomena" substitutionGroup="gml:_GML" type="aw:ESCAWRI_PhenomenaType" />
  <complexType name="ESCAWRI_PhenomenaType">
    <annotation>
      <documentation>Externally defined vocabulary of common phenomenon codes</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ESCAWRI_PhenomenaPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:ESCAWRI_Phenomena" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <simpleType name="WaterUseCodeType">
    <union memberTypes="aw:WaterUseCodeEnumerationType aw:WaterUseCodeOtherType" />
  </simpleType>
  <simpleType name="WaterUseCodeEnumerationType">
    <restriction base="string">
      <enumeration value="agriculture" />
      <enumeration value="irrigation" />
      <enumeration value="domestic" />
      <enumeration value="horticulture" />
      <enumeration value="garden" />
      <enumeration value="heatTransfer" />
      <enumeration value="commercial" />
      <enumeration value="industry" />
      <enumeration value="eductaion" />
      <enumeration value="publicRecreation" />
      <enumeration value="environmental" />
      <enumeration value="research" />
      <enumeration value="other" />
      <enumeration value="unknown" />
    </restriction>
  </simpleType>
  <simpleType name="WaterUseCodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="PhenomenonTimeSeries" substitutionGroup="aw:WaterObservation" type="aw:PhenomenonTimeSeriesType" />
  <complexType name="PhenomenonTimeSeriesType">
    <complexContent>
      <extension base="aw:WaterObservationType">
        <sequence>
          <element name="result" type="cv:CompactDiscreteTimeCoveragePropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhenomenonTimeSeriesPropertyType">
    <sequence minOccurs="0">
      <element ref="aw:PhenomenonTimeSeries" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <simpleType name="NRSamplingTypeCodeType">
    <union memberTypes="aw:NRSamplingTypeCodeEnumerationType aw:NRSamplingTypeCodeOtherType" />
  </simpleType>
  <simpleType name="NRSamplingTypeCodeEnumerationType">
    <restriction base="string">
      <enumeration value="production" />
      <enumeration value="monitoring" />
      <enumeration value="telemetered" />
      <enumeration value="logged" />
      <enumeration value="visited" />
      <enumeration value="regularlyVisited" />
      <enumeration value="opportunistic" />
    </restriction>
  </simpleType>
  <simpleType name="NRSamplingTypeCodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
</schema>
